<%- include('../partials/header') %>

<section class="detail" id="player-detail">
  <div class="odd-div">Player Name:</div>
  <div class="even-div"><%= players.name %></div>
  <div class="odd-div">Position Played:</div>
  <div class="even-div"><%= players.position %></div>
  <div class="odd-div">Age:</div>
  <div class="even-div"><%= players.age %></div>
  <div class="odd-div">Total Goals Scored:</div>
  <div class="even-div"><%= players.totalGoals %></div>
</section>

<h2 class="perf">Performance Rating</h2>
<% if (players.ratings.length) { %>
<table class="rating-table">
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% let total = 0 %> <% players.ratings.forEach(function(r) { %> <% total +=
    r.rating %>
    <tr>
      <td><%= r.rating %></td>
      <td><%= r.comment %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<h3>Rate this Player!</h3>
<% } %>

<form
  id="performance-rating"
  method="POST"
  action="/players/<%=
players._id %>/ratings"
>
  <label>Performance:</label>
  <select name="performance">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
  <label>Comments:</label>
  <textarea name="comment"></textarea>
  <input type="submit" value="Add Rating" />
</form>

<%- include('../partials/footer') %>
