<%- include('../partials/header') %>

<h1 class="viewteam">View Teams</h1>
<table id="team-list">
  <thead>
    <tr class="team-header">
      <th>Team name</th>
      <th>City</th>
      <th>Winrate(%)</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(t) { %>
    <tr class="teams">
      <td><a href="/teams/<%= t._id %>"><%= t.name %></a></td>
      <td><%= t.city %></td>
      <td><%= t.winrate %>%</td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
