<%- include('../partials/header') %>

<h1>View Teams</h1>
<h2>
  You can view and change the roster for each team as you please! Try it out by
  pressing "Team Roster" Button
</h2>
<table id="team-list">
  <thead>
    <tr>
      <th>Team name</th>
      <th>City</th>
      <th>Winrate</th>
    </tr>
  </thead>
  <tbody>
    <% teams.forEach(function(t) { %>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.city %></td>
      <td><%= t.winrate</td>
      <td><a href="/teams/<%= t._id %>">Team Roster</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
